$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "~react-widgets/lib/scss/react-widgets";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~react-datepicker/src/stylesheets/datepicker";
@import '~react-image-lightbox/style.css';
@import '~rc-slider/assets/index.css';

/* Extra small devices (767px and down) */
@media (max-width: 991px) {
  .row.vertical-align {
    display: block; /* Turn off the flexible box layout */
  }
}

@media (min-width: 992px) {
  .row.vertical-align {
    display: flex;
    align-items: center;
  }
}

.form-row {
  padding-top: 15px;
}

.block.vertical-align {
  display: flex;
  align-items: center;
}

.content{
  padding-top: 15px;
}


